<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About Me
        </h1>
        <p1>
            Hey! I'm Prakhar, I'm a self taught web developer and I  like making fun projects which could help someone in their day to day life!
        </p1>

    </div>

    <div class="text ">
        <h1>
            Why this web application?
        </h1>
        <p1>
            I made it to complete the task given in my internship by "The Sparks Foundation (TSF)".
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>This web application does not contain any real data.The users I have taken is just dummy Data.</p>
    </div>

    <div class="text">
        
        <h1 >Get in touch with me on</h1>
        <div >
            <a  target="_blank"href="https://www.linkedin.com/in/prakhar-srivastava-427904194/"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/web_j4"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/J4Web"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>